.Signup{
    width: 30%;
    height: 500px;
    border: 1px solid red;
     margin: 20px auto; 
     padding: 50px;
}
.content{
     text-align: center;
     color: green;
 }
.form-group button{
    color:white;
    background-color: #4879fd;
    border-radius: 25px;
    width:220px;
cursor: pointer;
}

.form-group button:hover{
    color:black;
    background-color: #1212fe;
}
 