.Signup{
    width: 30%;
    height: 500px;
    border: 1px solid red;
    margin: 20px auto; 
    padding: 50px;
    box-shadow: 0 2px 6px 6px #ccc;
}
.content{
     text-align: center;
     color: #DCFD1D;
 }
.buttonstyle{
    color:white;
    background-color:#4879fd;
    border-radius: 25px;
    width:100%;
    height: 40px;
    cursor: pointer;
}

.buttonstyle:hover{
    color:white;
    background-color: #0547ff;
    font-weight: bold;
}
 