.navlearn{
    text-decoration: none;
    padding: 2px;
    width: 100%;
    height: 56%;
   
}
.navlearn a{
    color:#DCFD1D;
    /* font-weight: bold; */
    font-size: 18px;
    margin: auto 5px;
    text-decoration: none;
}
.navlearn a:hover{
    color:white;
    text-decoration: none;
}
